<fieldset>
    <legend><span>Équipements de
            l'hébergement</span></legend>
    <div data-testid="filters-group-container">
        <div data-filters-item=":=93"><input aria-label="Piscine privée: 26&nbsp;établissements" id=":rip:"
                type="checkbox" name="=93" value="=93"><label for=":rip:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Piscine privée</div>
                            <span>26</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=11"><input aria-label="Climatisation: 26&nbsp;établissements" id=":r13l:"
                type="checkbox" name="=11" value="=11"><label for=":r13l:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Climatisation</div>
                            <span>26</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=38"><input aria-label="Salle de bains privative: 19&nbsp;établissements" id=":r13n:"
                type="checkbox" name="=38" value="=38"><label for=":r13n:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Salle de bains privative
                            </div> <span>19</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=34"><input aria-label="Lave-linge: 15&nbsp;établissements" id=":r13p:" type="checkbox"
                name="=34" value="=34"><label for=":r13p:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Lave-linge</div>
                            <span>15</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=14"><input aria-label="Bain à remous: 1&nbsp;établissement" id=":r13r:"
                type="checkbox" name="=14" value="=14"><label for=":r13r:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Bain à remous</div>
                            <span>1</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=81"><input aria-label="Vue: 19&nbsp;établissements" id=":r13t:" type="checkbox"
                name="=81" value="=81"><label for=":r13t:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Vue</div> <span>19</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=22"><input aria-label="Réfrigérateur: 11&nbsp;établissements" id=":r13v:"
                type="checkbox" name="=22" value="=22"><label for=":r13v:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Réfrigérateur</div>
                            <span>11</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=75"><input aria-label="Télévision à écran plat: 25&nbsp;établissements" id=":r141:"
                type="checkbox" name="=75" value="=75"><label for=":r141:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Télévision à écran plat
                            </div> <span>25</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=5"><input aria-label="Baignoire: 4&nbsp;établissements" id=":rnl:" type="checkbox"
                name="=5" value="=5"><label for=":rnl:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Baignoire</div>
                            <span>4</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=31"><input aria-label="Toilettes: 11&nbsp;établissements" id=":ro1:" type="checkbox"
                name="=31" value="=31"><label for=":ro1:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Toilettes</div>
                            <span>11</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=132"><input
                aria-label="Étages supérieurs accessibles par ascenseur: 2&nbsp;établissements" id=":rnh:"
                type="checkbox" name="=132" value="=132"><label for=":rnh:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Étages supérieurs
                                accessibles par ascenseur</div> <span>2</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=4"><input aria-label="Douche: 10&nbsp;établissements" id=":r143:" type="checkbox"
                name="=4" value="=4"><label for=":r143:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Douche</div>
                            <span>10</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=124"><input aria-label="Serviettes: 11&nbsp;établissements" id=":r145:"
                type="checkbox" name="=124" value="=124"><label for=":r145:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Serviettes</div>
                            <span>11</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=92"><input aria-label="Sauna: 1&nbsp;établissement" id=":r147:" type="checkbox"
                name="=92" value="=92"><label for=":r147:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Sauna</div> <span>1</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=8"><input aria-label="Télévision: 10&nbsp;établissements" id=":rnt:" type="checkbox"
                name="=8" value="=8"><label for=":rnt:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Télévision</div>
                            <span>10</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=71"><input aria-label="Cheminée: 1&nbsp;établissement" id=":r149:" type="checkbox"
                name="=71" value="=71"><label for=":r149:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Cheminée</div>
                            <span>1</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=99"><input aria-label="Barbecue: 2&nbsp;établissements" id=":r14b:" type="checkbox"
                name="=99" value="=99"><label for=":r14b:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Barbecue</div>
                            <span>2</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=125"><input aria-label="Linge de maison: 5&nbsp;établissements" id=":r14d:"
                type="checkbox" name="=125" value="=125"><label for=":r14d:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Linge de maison</div>
                            <span>5</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=158"><input aria-label="Piscine à débordement: 3&nbsp;établissements" id=":r14f:"
                type="checkbox" name="=158" value="=158"><label for=":r14f:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Piscine à débordement
                            </div> <span>3</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=32"><input aria-label="Micro-ondes: 10&nbsp;établissements" id=":r14h:"
                type="checkbox" name="=32" value="=32"><label for=":r14h:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Micro-ondes</div>
                            <span>10</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=162"><input aria-label="Bassin profond: 3&nbsp;établissements" id=":r14j:"
                type="checkbox" name="=162" value="=162"><label for=":r14j:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Bassin profond</div>
                            <span>3</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=165"><input aria-label="Couverture de piscine: 1&nbsp;établissement" id=":rnb:"
                type="checkbox" name="=165" value="=165"><label for=":rnb:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Couverture de piscine
                            </div> <span>1</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=157"><input aria-label="Piscine sur le toit: 3&nbsp;établissements" id=":rnr:"
                type="checkbox" name="=157" value="=157"><label for=":rnr:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Piscine sur le toit</div>
                            <span>3</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=96"><input aria-label="Four: 7&nbsp;établissements" id=":r14l:" type="checkbox"
                name="=96" value="=96"><label for=":r14l:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Four</div> <span>7</span>
                        </div>
                    </div>
                </span></label></div>
        <div data-filters-item=":=90"><input aria-label="Moustiquaire: 1&nbsp;établissement" id=":rmr:" type="checkbox"
                name="=90" value="=90"><label for=":rmr:"><span></span><span><span><svg>
                            <path>
                            </path>
                        </svg></span></span><span>
                    <div>

                        <div>
                            <div>Moustiquaire</div>
                            <span>1</span>
                        </div>
                    </div>
                </span></label></div>
    </div>
</fieldset>